# PANDAS SERIES

In [1]:
import pandas as pd
import numpy as np

### SERIES CREATION, ILOC, AND LOC
Series create(data, index)<br>
iloc is index location<br>
loc is index by name location
Accessing elements in dataframe: dataframe[column][row]

In [2]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [3]:
print('Shape of groceries: ', groceries.shape)
print('Dimsion of groceries: ', groceries.ndim)
print('Total elements in groceries: ', groceries.size)

Shape of groceries:  (4,)
Dimsion of groceries:  1
Total elements in groceries:  4

In [4]:
x = 'bananas' in groceries
y = 'bread' in groceries
print('Bananas in groceries? ', x)
print('Bread in groceries? ', y)

Bananas in groceries?  False
Bread in groceries?  True

In [5]:
print(groceries['eggs'])
print(groceries[['eggs', 'bread']])

30
eggs     30
bread    No
dtype: object

In [6]:
print(groceries[0], '\n')
print(groceries[-1], '\n')
print(groceries[[1, 2]])

30

No

apples      6
milk      Yes
dtype: object

In [7]:
groceries['eggs'] = 12
print(groceries['eggs'])

12

In [8]:
print(groceries.drop('apples'), '\n')
print(groceries)

eggs      12
milk     Yes
bread     No
dtype: object

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [9]:
print(groceries, '\n')
groceries.drop('apples', inplace = True)
print(groceries)

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

eggs      12
milk     Yes
bread     No
dtype: object

In [10]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
print(fruits)

apples     10
oranges     6
bananas     3
dtype: int64

In [11]:
print(fruits + 1, '\n')
print(fruits - 1, '\n')
print(fruits * 2, '\n')
print(fruits / 2)

apples     11
oranges     7
bananas     4
dtype: int64

apples     9
oranges    5
bananas    2
dtype: int64

apples     20
oranges    12
bananas     6
dtype: int64

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [12]:
print(np.power(fruits, 2))

apples     100
oranges     36
bananas      9
dtype: int64

In [13]:
print(groceries * 2) #as long as all elements support operation, operation will run

eggs         24
milk     YesYes
bread      NoNo
dtype: object

# PANDAS DATAFRAME

In [14]:
items = {'Bob': pd.Series([245, 25, 55], ['bike', 'pants', 'watch']),
         'Alice': pd.Series([40, 110, 500, 45], ['book', 'glasses', 'bike', 'pants'])}
print(type(items))
print(items)

<class 'dict'>
{'Bob': bike     245
pants     25
watch     55
dtype: int64, 'Alice': book        40
glasses    110
bike       500
pants       45
dtype: int64}

In [15]:
carts = pd.DataFrame(items)
print(carts)

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [16]:
data = {'Bob': pd.Series([245, 25, 55]),
         'Alice': pd.Series([40, 110, 500, 45])}
df = pd.DataFrame(data)
print(df)

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [17]:
print('Shape: ', carts.shape)
print('Dimension: ', carts.ndim)
print('Total number of elements: ', carts.size)
print('\nCarts data is:\n', carts.values, '\n')
print('Row index is: ', carts.index)
print('Column index is: ', carts.columns)

Shape:  (5, 2)
Dimension:  2
Total number of elements:  10

Carts data is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

Row index is:  Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')
Column index is:  Index(['Bob', 'Alice'], dtype='object')

In [18]:
# Create a dataframe that only has Bob's data
bobs_cart = pd.DataFrame(items, columns = ['Bob'])
print(bobs_cart)

       Bob
bike   245
pants   25
watch   55

In [19]:
# Select certain rows of a dataframe
select_items = pd.DataFrame(items, index = ['pants', 'book'])
print(select_items)

        Bob  Alice
pants  25.0     45
book    NaN     40

In [20]:
# Select certain items only for Alice
alice_select_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])
print(alice_select_cart)

         Alice
glasses    110
bike       500

In [21]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35},
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}]
store_items = pd.DataFrame(items2, index = ['store1', 'store2'])
print(store_items)

        bikes  pants  watches  glasses
store1     20     30       35      NaN
store2     15      5       10     50.0

In [28]:
print('Number of bikes:\n', store_items[['bikes']])
print('Bikes and pants:\n', store_items[['bikes', 'pants']])
print('Items in store 1\n: ', store_items.loc[['store1']])
print('Bikes in store 2: ', store_items['bikes']['store2'])

Number of bikes:
         bikes
store1     20
store2     15
Bikes and pants:
         bikes  pants
store1     20     30
store2     15      5
Items in store 1
:          bikes  pants  watches  glasses
store1     20     30       35      NaN
Bikes in store 2:  15

In [30]:
store_items['shirts'] = [15,2]
print(store_items)

        bikes  pants  watches  glasses  shirts
store1     20     30       35      NaN      15
store2     15      5       10     50.0       2

In [32]:
store_items['suits'] = store_items['pants'] + store_items['shirts']
print(store_items)

        bikes  pants  watches  glasses  shirts  suits
store1     20     30       35      NaN      15     45
store2     15      5       10     50.0       2      7

In [42]:
# Adding a new row to a dataframe
# Create a dictionary
new_items = [{'pants': 30, 'watches': 35, 'glasses': 4, 'bikes': 20}]
new_store = pd.DataFrame(new_items, index = ['store3'])
print(new_store, '\n')
store_items = store_items.append(new_store)
print(store_items)

        pants  watches  glasses  bikes
store3     30       35        4     20

        bikes  pants  watches  glasses  shoes  shirts  suits
store1     20     30       35      NaN    8.0    15.0   45.0
store2     15      5       10     50.0    5.0     2.0    7.0
store3     20     30       35      4.0    NaN     NaN    NaN

In [43]:
# Adding a new column composed of data from existing columns
store_items['new_watches'] = store_items['watches'][1:]
print(store_items)

        bikes  pants  watches  glasses  shoes  shirts  suits  new_watches
store1     20     30       35      NaN    8.0    15.0   45.0          NaN
store2     15      5       10     50.0    5.0     2.0    7.0         10.0
store3     20     30       35      4.0    NaN     NaN    NaN         35.0

In [50]:
# Insert a column at a specific index
store_items.insert(4, 'shoes', [8, 5, 0])
print(store_items)

        bikes  pants  watches  glasses  shoes  shirts  suits  new_watches
store1     20     30       35      NaN      8    15.0   45.0          NaN
store2     15      5       10     50.0      5     2.0    7.0         10.0
store3     20     30       35      4.0      0     NaN    NaN         35.0

### DELETING ROWS/COLUMNS IN DATAFRAME
.POP() deletes columns<br>
.DROP() deletes rows or columns by use of AXIS

In [49]:
# Delete a row (axis = 0) or column (axis = 1)
store_items = store_items.drop(['shoes'], axis = 1)
print(store_items)

        bikes  pants  watches  glasses  shirts  suits  new_watches
store1     20     30       35      NaN    15.0   45.0          NaN
store2     15      5       10     50.0     2.0    7.0         10.0
store3     20     30       35      4.0     NaN    NaN         35.0

In [52]:
# Rename a column
store_items = store_items.rename(columns = {'bikes': 'hats'})
print(store_items)

        hats  pants  watches  glasses  shoes  shirts  suits  new_watches
store1    20     30       35      NaN      8    15.0   45.0          NaN
store2    15      5       10     50.0      5     2.0    7.0         10.0
store3    20     30       35      4.0      0     NaN    NaN         35.0

In [53]:
# Rename a row
store_items = store_items.rename(index = {'store3': 'last_store'})
print(store_items)

            hats  pants  watches  glasses  shoes  shirts  suits  new_watches
store1        20     30       35      NaN      8    15.0   45.0          NaN
store2        15      5       10     50.0      5     2.0    7.0         10.0
last_store    20     30       35      4.0      0     NaN    NaN         35.0

In [54]:
# Use existing column values as row-index
print(store_items, '\n')
store_items = store_items.set_index('pants')
print(store_items)

            hats  pants  watches  glasses  shoes  shirts  suits  new_watches
store1        20     30       35      NaN      8    15.0   45.0          NaN
store2        15      5       10     50.0      5     2.0    7.0         10.0
last_store    20     30       35      4.0      0     NaN    NaN         35.0

       hats  watches  glasses  shoes  shirts  suits  new_watches
pants
30       20       35      NaN      8    15.0   45.0          NaN
5        15       10     50.0      5     2.0    7.0         10.0
30       20       35      4.0      0     NaN    NaN         35.0