# PANDAS SERIES

In [1]:
import pandas as pd
import numpy as np

### SERIES CREATION, ILOC, AND LOC
Series create(data, index)<br>
iloc is index location<br>
loc is index by name location
Accessing elements in dataframe: dataframe[column][row]

In [2]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [3]:
print('Shape of groceries: ', groceries.shape)
print('Dimsion of groceries: ', groceries.ndim)
print('Total elements in groceries: ', groceries.size)

Shape of groceries:  (4,)
Dimsion of groceries:  1
Total elements in groceries:  4

In [4]:
x = 'bananas' in groceries
y = 'bread' in groceries
print('Bananas in groceries? ', x)
print('Bread in groceries? ', y)

Bananas in groceries?  False
Bread in groceries?  True

In [5]:
print(groceries['eggs'])
print(groceries[['eggs', 'bread']])

30
eggs     30
bread    No
dtype: object

In [6]:
print(groceries[0], '\n')
print(groceries[-1], '\n')
print(groceries[[1, 2]])

30

No

apples      6
milk      Yes
dtype: object

In [7]:
groceries['eggs'] = 12
print(groceries['eggs'])

12

In [8]:
print(groceries.drop('apples'), '\n')
print(groceries)

eggs      12
milk     Yes
bread     No
dtype: object

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [9]:
print(groceries, '\n')
groceries.drop('apples', inplace = True)
print(groceries)

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

eggs      12
milk     Yes
bread     No
dtype: object

In [10]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
print(fruits)

apples     10
oranges     6
bananas     3
dtype: int64

In [11]:
print(fruits + 1, '\n')
print(fruits - 1, '\n')
print(fruits * 2, '\n')
print(fruits / 2)

apples     11
oranges     7
bananas     4
dtype: int64

apples     9
oranges    5
bananas    2
dtype: int64

apples     20
oranges    12
bananas     6
dtype: int64

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [12]:
print(np.power(fruits, 2))

apples     100
oranges     36
bananas      9
dtype: int64

In [13]:
print(groceries * 2) #as long as all elements support operation, operation will run

eggs         24
milk     YesYes
bread      NoNo
dtype: object

# PANDAS DATAFRAME

In [14]:
items = {'Bob': pd.Series([245, 25, 55], ['bike', 'pants', 'watch']),
         'Alice': pd.Series([40, 110, 500, 45], ['book', 'glasses', 'bike', 'pants'])}
print(type(items))
print(items)

<class 'dict'>
{'Bob': bike     245
pants     25
watch     55
dtype: int64, 'Alice': book        40
glasses    110
bike       500
pants       45
dtype: int64}

In [15]:
carts = pd.DataFrame(items)
print(carts)

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [16]:
data = {'Bob': pd.Series([245, 25, 55]),
         'Alice': pd.Series([40, 110, 500, 45])}
df = pd.DataFrame(data)
print(df)

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [17]:
print('Shape: ', carts.shape)
print('Dimension: ', carts.ndim)
print('Total number of elements: ', carts.size)
print('\nCarts data is:\n', carts.values, '\n')
print('Row index is: ', carts.index)
print('Column index is: ', carts.columns)

Shape:  (5, 2)
Dimension:  2
Total number of elements:  10

Carts data is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

Row index is:  Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')
Column index is:  Index(['Bob', 'Alice'], dtype='object')

In [18]:
# Create a dataframe that only has Bob's data
bobs_cart = pd.DataFrame(items, columns = ['Bob'])
print(bobs_cart)

       Bob
bike   245
pants   25
watch   55

In [19]:
# Select certain rows of a dataframe
select_items = pd.DataFrame(items, index = ['pants', 'book'])
print(select_items)

        Bob  Alice
pants  25.0     45
book    NaN     40

In [20]:
# Select certain items only for Alice
alice_select_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])
print(alice_select_cart)

         Alice
glasses    110
bike       500

In [21]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35},
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}]
store_items = pd.DataFrame(items2, index = ['store1', 'store2'])
print(store_items)

        bikes  pants  watches  glasses
store1     20     30       35      NaN
store2     15      5       10     50.0

In [22]:
print('Number of bikes:\n', store_items[['bikes']])
print('Bikes and pants:\n', store_items[['bikes', 'pants']])
print('Items in store 1\n: ', store_items.loc[['store1']])
print('Bikes in store 2: ', store_items['bikes']['store2'])

Number of bikes:
         bikes
store1     20
store2     15
Bikes and pants:
         bikes  pants
store1     20     30
store2     15      5
Items in store 1
:          bikes  pants  watches  glasses
store1     20     30       35      NaN
Bikes in store 2:  15

In [23]:
store_items['shirts'] = [15,2]
print(store_items)

        bikes  pants  watches  glasses  shirts
store1     20     30       35      NaN      15
store2     15      5       10     50.0       2

In [24]:
store_items['suits'] = store_items['pants'] + store_items['shirts']
print(store_items)

        bikes  pants  watches  glasses  shirts  suits
store1     20     30       35      NaN      15     45
store2     15      5       10     50.0       2      7

In [25]:
# Adding a new row to a dataframe
# Create a dictionary
new_items = [{'pants': 30, 'watches': 35, 'glasses': 4, 'bikes': 20}]
new_store = pd.DataFrame(new_items, index = ['store3'])
print(new_store, '\n')
store_items = store_items.append(new_store)
print(store_items)

        pants  watches  glasses  bikes
store3     30       35        4     20

        bikes  pants  watches  glasses  shirts  suits
store1     20     30       35      NaN    15.0   45.0
store2     15      5       10     50.0     2.0    7.0
store3     20     30       35      4.0     NaN    NaN

In [26]:
# Adding a new column composed of data from existing columns
store_items['new_watches'] = store_items['watches'][1:]
print(store_items)

        bikes  pants  watches  glasses  shirts  suits  new_watches
store1     20     30       35      NaN    15.0   45.0          NaN
store2     15      5       10     50.0     2.0    7.0         10.0
store3     20     30       35      4.0     NaN    NaN         35.0

In [27]:
# Insert a column at a specific index
store_items.insert(4, 'shoes', [8, 5, 0])
print(store_items)

        bikes  pants  watches  glasses  shoes  shirts  suits  new_watches
store1     20     30       35      NaN      8    15.0   45.0          NaN
store2     15      5       10     50.0      5     2.0    7.0         10.0
store3     20     30       35      4.0      0     NaN    NaN         35.0

### DELETING ROWS/COLUMNS IN DATAFRAME
.POP() deletes columns<br>
.DROP() deletes rows or columns by use of AXIS

In [28]:
# Delete a row (axis = 0) or column (axis = 1)
store_items = store_items.drop(['shoes'], axis = 1)
print(store_items)

        bikes  pants  watches  glasses  shirts  suits  new_watches
store1     20     30       35      NaN    15.0   45.0          NaN
store2     15      5       10     50.0     2.0    7.0         10.0
store3     20     30       35      4.0     NaN    NaN         35.0

In [29]:
# Rename a column
store_items = store_items.rename(columns = {'bikes': 'hats'})
print(store_items)

        hats  pants  watches  glasses  shirts  suits  new_watches
store1    20     30       35      NaN    15.0   45.0          NaN
store2    15      5       10     50.0     2.0    7.0         10.0
store3    20     30       35      4.0     NaN    NaN         35.0

In [30]:
# Rename a row
store_items = store_items.rename(index = {'store3': 'last_store'})
print(store_items)

            hats  pants  watches  glasses  shirts  suits  new_watches
store1        20     30       35      NaN    15.0   45.0          NaN
store2        15      5       10     50.0     2.0    7.0         10.0
last_store    20     30       35      4.0     NaN    NaN         35.0

In [31]:
# Use existing column values as row-index
print(store_items, '\n')
store_items = store_items.set_index('pants')
print(store_items)

            hats  pants  watches  glasses  shirts  suits  new_watches
store1        20     30       35      NaN    15.0   45.0          NaN
store2        15      5       10     50.0     2.0    7.0         10.0
last_store    20     30       35      4.0     NaN    NaN         35.0

       hats  watches  glasses  shirts  suits  new_watches
pants
30       20       35      NaN    15.0   45.0          NaN
5        15       10     50.0     2.0    7.0         10.0
30       20       35      4.0     NaN    NaN         35.0

# DEALING WITH NaN

In [32]:
# Create DataFrame
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])
print(store_items)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [33]:
# Count number of NaN values
x = store_items.isnull().sum().sum()
y = store_items.count().sum()
print('Number of NaN values in DataFrame: ', x)
print('Number of non-NaN values in DataFrame: ', y)

Number of NaN values in DataFrame:  3
Number of non-NaN values in DataFrame:  18

In [34]:
null_frame = store_items.isnull()
print(null_frame)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1  False  False    False   False  False  False     True
store 2  False  False    False   False  False  False    False
store 3  False  False    False    True  False   True    False

### REPLACE NaN VALUES

In [35]:
# Drop rows/columns with NaN values
print('Drop Columns with NaN:\n', store_items.dropna(axis = 1))
print()
print('Drop Rows with NaN:\n', store_items.dropna(axis = 0))

Drop Columns with NaN:
          bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10

Drop Rows with NaN:
          bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0

In [36]:
# Subsituting NaN values
print(store_items.fillna(0))

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     0.0     10    0.0      4.0

#### FILL NaN VALUES ACROSS AXES
ffill = forward fill<br>
backfill = backward fill<br>
axis = 0: fill down the dataframe<br>
axis = 1: fill across the dataframe

In [37]:
print(store_items, '\n')
#fill with row above
print(store_items.fillna(method = 'ffill', axis = 0), '\n')
#fill with column to left
print(store_items.fillna(method = 'ffill', axis = 1), '\n')
#fill with row below
print(store_items.fillna(method = 'backfill', axis = 0), '\n')
#fill with column to right
print(store_items.fillna(method = 'backfill', axis = 1))

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    35.0   10.0   10.0      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0     50.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0      NaN
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    10.0   10.0    4.0      4.0

In [38]:
# Fill NaN using interpolation
print(store_items, '\n')
# Interpolate down columns
print(store_items.interpolate(method = 'linear', axis = 0), '\n')
# Interpolate across rows
print(store_items.interpolate(method = 'linear', axis = 1), '\n')

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    22.5   10.0    7.0      4.0

# LOADING DATA INTO PANDAS

In [39]:
GOOG = pd.read_csv('./stocks.csv')
print('Stock is of type: ', type(GOOG))
print('Stock has shape: ', GOOG.shape)

Stock is of type:  <class 'pandas.core.frame.DataFrame'>
Stock has shape:  (3313, 7)

In [40]:
# Print the first or last entries of a dataset
print(GOOG.head(), '\n')
print(GOOG.tail(10))

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

            Date        Open        High         Low       Close   Adj Close  \
3303  2017-10-02  959.979980  962.539978  947.840027  953.270020  953.270020
3304  2017-10-03  954.000000  958.000000  949.140015  957.789978  957.789978
3305  2017-10-04  957.000000  960.390015  950.690002  951.679993  951.679993
3306  2017-10-05  955.489990  970.909973  955.179993  969.960022  969.960022
3307  2017-10-06  966.700012  979.460022  963.359985  978.890015  978.890015
3308  2017-10-09  980.000000  985.424988  976.109985  977.000000  977.000000
3309  2017-10-10  980.000000  981.570007  966.080017  972.599976  972.599976
3310  2017-10-11  973.719971  990.710022  972.250000  989.250000  989.250000
3311  2017-10-12  987.450012  994.119995  985.000000  987.830017  987.830017
3312  2017-10-13  992.000000  997.210022  989.000000  989.679993  989.679993

       Volume
3303  1283400
3304   888300
3305   952400
3306  1213800
3307  1173900
3308   891400
3309   968400
3310  1693300
3311  1262400
3312  1157700

In [41]:
# Any null values
print(GOOG.isnull().any())

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [42]:
# Get statistics on dataset
print(GOOG.describe())

              Open         High          Low        Close    Adj Close  \
count  3313.000000  3313.000000  3313.000000  3313.000000  3313.000000
mean    380.186092   383.493740   376.519309   380.072458   380.072458
std     223.818650   224.974534   222.473232   223.853780   223.853780
min      49.274517    50.541279    47.669952    49.681866    49.681866
25%     226.556473   228.394516   224.003082   226.407440   226.407440
50%     293.312286   295.433502   289.929291   293.029114   293.029114
75%     536.650024   540.000000   532.409973   536.690002   536.690002
max     992.000000   997.210022   989.000000   989.679993   989.679993

             Volume
count  3.313000e+03
mean   8.038476e+06
std    8.399521e+06
min    7.900000e+03
25%    2.584900e+06
50%    5.281300e+06
75%    1.065370e+07
max    8.276810e+07

In [43]:
# Describe on single column
print(GOOG['Adj Close'].describe())

count    3313.000000
mean      380.072458
std       223.853780
min        49.681866
25%       226.407440
50%       293.029114
75%       536.690002
max       989.679993
Name: Adj Close, dtype: float64

In [44]:
# Statistics on dataframe
print('Maximum values of each column:\n', GOOG.max(), '\n')
print('Minimum close value', GOOG['Close'].min(), '\n')
print('Average of each column:\n', GOOG.mean())

Maximum values of each column:
 Date         2017-10-13
Open              992.0
High         997.210022
Low               989.0
Close        989.679993
Adj Close    989.679993
Volume         82768100
dtype: object

Minimum close value 49.681866

Average of each column:
 Open         3.801861e+02
High         3.834937e+02
Low          3.765193e+02
Close        3.800725e+02
Adj Close    3.800725e+02
Volume       8.038476e+06
dtype: float64

In [45]:
# Get correlation between columns
print(GOOG.corr())

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999904  0.999845  0.999745   0.999745 -0.564258
High       0.999904  1.000000  0.999834  0.999868   0.999868 -0.562749
Low        0.999845  0.999834  1.000000  0.999899   0.999899 -0.567007
Close      0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Adj Close  0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Volume    -0.564258 -0.562749 -0.567007 -0.564967  -0.564967  1.000000

#### FAKE COMPANY EXAMPLE

In [46]:
data = pd.read_csv('./fake_company.csv')
print(data)

   Year     Name Department  Age  Salary
0  1990    Alice         HR   25   50000
1  1990      Bob         RD   30   48000
2  1990  Charlie      Admin   45   55000
3  1991   Dakota         HR   26   52000
4  1991     Elsa         RD   31   50000
5  1991    Frank      Admin   46   60000
6  1992    Grace      Admin   27   60000
7  1992  Hoffman         RD   32   52000
8  1992    Inaar      Admin   28   62000

In [47]:
# Display total compensation by year
print(data.groupby(['Year'])['Salary'].sum())

Year
1990    153000
1991    162000
1992    174000
Name: Salary, dtype: int64

In [48]:
# Display average salary for each year
print(data.groupby(['Year'])['Salary'].mean())

Year
1990    51000
1991    54000
1992    58000
Name: Salary, dtype: int64

In [49]:
# Display individual employee compensation by year
print(data.groupby(['Name'])['Salary'].sum())

Name
Alice      50000
Bob        48000
Charlie    55000
Dakota     52000
Elsa       50000
Frank      60000
Grace      60000
Hoffman    52000
Inaar      62000
Name: Salary, dtype: int64

In [50]:
# Groupby() on two columns
print(data.groupby(['Year', 'Department'])['Salary'].sum())

Year  Department
1990  Admin          55000
      HR             50000
      RD             48000
1991  Admin          60000
      HR             52000
      RD             50000
1992  Admin         122000
      RD             52000
Name: Salary, dtype: int64